* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.first-page {
    /* height: 100vh; */
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* body {
    display: flex;
    flex-direction: column;
} */

header {
    color: white;
    flex-basis: 50px;
    /* background-color: aqua; */
    width: 1000px;
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.Logo {
    font-weight: bold;
    font-size: 24px;

}

.content {
    width: 1000px;
}

.first-page .content {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    padding: 20px;
    color: white;
    gap: 35px;
    /* align-items: center; */
}

.first-page .content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.first-page .content p {
    font-size: 18px;
    margin-bottom: 30px;
}

button {
    all: unset;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #388;
    text-align: center;
    cursor: pointer;
}

.card {
    width: 150px;
    height: 150px;
    background-color: rgb(213, 213, 213);
    border-radius: 15px;
    border: 5px solid #388;
    margin-bottom: 5px;

}

.container {
    display: flex;
    gap: 50px;
    padding: 25px;
    justify-content: center;
    margin-bottom: 30px;
}

.card1,
.card2,
.card3,
.card4 {
    width: 150px;
}

.second-page {
    display: flex;
    justify-content: center;
}

.second-page p {
    text-align: center;
    color: rgb(144, 144, 144);
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 35px;
}

.third-page {
    height: 300px;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.third-page p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.third-page span {
    margin-top: 10px;
    display: block;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
}
.third-page .content {
    margin-top: 20px;
}

.fourth-page {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.fourth-page .content {
    background-color: #388;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 10px;
}

.fourth-page button {
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

.fourth-page h3 {
    margin-bottom: 2px;
}

footer {
    padding: 30px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}